
# SetEnv APPLICATION_ENV development

SetEnv APPLICATION_ENV production

# php_value magic_quotes 0
# php_flag magic_quotes off
# php_value magic_quotes_gpc 0
# php_flag magic_quotes_gpc off


# turn rewriting on
RewriteEngine on

# standard ZF (1.8) rules
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
        
        